:root {
  --color-fireopal: #db5a42;
  --color-fireopal-light: #c57b6e;
  --color-honeydew: #e9fae3;
  --color-honeydew-light: #eef8ea;
  --color-eggshell: #f0ebd8;
  --color-bluebell: #a09abc;
  --color-independence: #474056;
  --color-independence-dark: #2d253f;
}

.dhd {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
