.app-title__header {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: ivory;
  box-shadow: -1px 5px 5px 0px rgba(217, 217, 215, 0.75);
  -webkit-box-shadow: -1px 5px 5px 0px rgba(217, 217, 215, 0.75);
  -moz-box-shadow: -1px 5px 5px 0px rgba(217, 217, 215, 0.75);
}

.app-title__title {
  color: tomato;
  font-size: 33px;
  letter-spacing: 0.3em;
}
