<nav class="navigation">
  <a href="index.html" class="navigation__link">
    <i class="fas fa-home navigation__icon"></i><br />
    <span class="navigation__item">Home</span>
  </a>
  <a href="./bookmarks.html" class="navigation__link">
    <i class="fas fa-bookmark navigation__icon"></i><br />
    <span class="navigation__item">Bookmarks</span>
  </a>
  <a href="./create.html" class="navigation__link">
    <i class="fas fa-pen navigation__icon"></i><br />
    <span class="navigation__item">Create</span>
  </a>
  <a href="./profile.html" class="navigation__link">
    <i class="fas fa-user navigation__icon"></i><br />
    <span class="navigation__item">Profile</span>
  </a>
</nav>
