<header class="app-title__header">
  <h1 class="app-title__title">Profile</h1>
</header>
<main>
  <section class="profile__about">
    <img src="../images/profilpic.jpg" alt="" class="profile__pic" />
    <h2 class="profile__name">My Name</h2 class="profile__name">
    <p class="profile__desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea aperiam
      debitis doloribus quas esse sapiente fugit, commodi id enim explicabo
      accusantium veritatis unde quia sint sequi beatae asperiores consequatur
      nostrum!
    </p>
  </section>
  <ul class="profile__tags">
    <li class="profile__tags__item">tag</li>
    <li class="profile__tags__item">tag</li>
    <li class="profile__tags__item">tag</li>
    <li class="profile__tags__item">tag</li>
    <li class="profile__tags__item">tag</li>
  </ul>
  <button class="profile__logout_button">Logout</button>
</main>
