.profile__about {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.profile__pic {
  width: 40%;
  border-radius: 50%;
}

/*

.profile__tags {}
.profile__tags__item {}

.profile__logout_button {}

*/
