<header class="app-title__header">
  <h1 class="app-title__title">Profile</h1>
</header>
<main>
  <section class="profile__about">
    <img class="profile__pic" src="../images/profilpic.jpg" alt="" />
    <h2 class="profile__name">My Name</h2>
  </section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea aperiam debitis
    doloribus quas esse sapiente fugit, commodi id enim explicabo accusantium
    veritatis unde quia sint sequi beatae asperiores consequatur nostrum!
  </p>
  <h3>My Skills</h3>
  <ul class="profile__tags">
    <li class="profile__tags__item">tag</li>
    <li class="profile__tags__item">tag</li>
    <li class="profile__tags__item">tag</li>
    <li class="profile__tags__item">tag</li>
    <li class="profile__tags__item">tag</li>
  </ul>
  <button class="profile__logout_button">Logout</button>
</main>
