<header class="app-title__header">
  <h1 class="app-title__title">Quizzy</h1>
</header>
<main class="app-grid__main">
  <section class="questions__card">
    <button class="questions__bookmark"></button>
    <h2 class="questions__question">What is the population of New Orleans?</h2>
    <details>
      <summary><h2 class="questions__answer">Tap for answer</h2></summary>
      According to 2010 Census Bureau estimates, New Orleans' population is made
      up of approximately 343,829 residents.
    </details>
    <ul class="questions__tags">
      <li>Geography</li>
      <li>Cities</li>
      <li>USA</li>
      <li>General</li>
      <li>Globalisierung</li>
    </ul>
  </section>
</main>
