<header class="app-title__header">
  <h1 class="app-title__title">Quizzy</h1>
</header>
<main class="app-grid__main">
  <section class="questions__card">
    <button class="questions__bookmark"></button>
    <h2 class="questions__question">What is the population of New Orleans?</h2>
    <details>
      <summary></summary>
      According to 2010 Census Bureau estimates, New Orleans' population is made
      up of approximately 343,829 residents.
    </details>
    <ul class="questions__tags">
      <li>Geography</li>
      <li>Cities</li>
      <li>USA</li>
      <li>General</li>
    </ul>
  </section>
  <section class="questions__card">
    <button class="questions__bookmark"></button>
    <h2 class="questions__question">What is the population of New Orleans?</h2>
    <details>
      <summary></summary>
      According to 2010 Census Bureau estimates, New Orleans' population is made
      up of approximately 343,829 residents.
    </details>
    <ul class="questions__tags">
      <li>Geography</li>
      <li>Cities</li>
      <li>USA</li>
      <li>General</li>
    </ul>
  </section>
</main>
<nav class="navigation">
  <a href="./home.html" class="navigation__link">
    <i class="fas fa-home navigation__icon"></i><br />
    <span class="navigation__item">Home</span>
  </a>
  <a href="./bookmarks.html" class="navigation__link">
    <i class="fas fa-bookmark navigation__icon"></i><br />
    <span class="navigation__item">Bookmarks</span>
  </a>
  <a href="./create.html" class="navigation__link">
    <i class="fas fa-pen navigation__icon"></i><br />
    <span class="navigation__item">Create</span>
  </a>
  <a href="./profile.html" class="navigation__link">
    <i class="fas fa-user navigation__icon"></i><br />
    <span class="navigation__item">Profile</span>
  </a>
</nav>
