.questions__card {
  position: relative;
  width: 80%;
  margin: 30px auto;
  padding-bottom: 15px;
  background-color: rgba(171, 168, 168, 0.43);
  box-shadow: 10px 10px 37px -6px rgba(217, 217, 215, 0.75);
  -webkit-box-shadow: 10px 10px 37px -6px rgba(217, 217, 215, 0.75);
  -moz-box-shadow: 10px 10px 37px -6px rgba(217, 217, 215, 0.75);
}

.questions__bookmark {
  height: 30px;
  overflow: hidden;
  position: absolute;
  width: 0;
  top: -6px;
  right: 17px;
  border: 12px solid rgb(240, 119, 98);
  border-radius: 3px;
  border-bottom-color: transparent;
  padding: 0;
  background-color: transparent;
}

.questions__question::before {
  content: 'Q: ';
  color: rgb(223, 74, 28);
  padding-right: 10px;
}

.questions__question {
  font-size: 16px;
  padding: 13% 10% 7% 10%;
  letter-spacing: 0.05em;
  color: #444;
  background-color: rgba(171, 168, 168, 0.43);
}

.questions__answer {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #444;
  padding-left: 10px;
}

summary::marker {
  margin: 12px 0;
  color: rgb(223, 74, 28);
  content: 'A: ';
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
}

details {
  padding: 3% 15% 10% 10%;
  font-size: 16px;
  color: #444;
}

.questions__tags {
  margin: 0;
  padding: 0 20px;
}

.questions__tags > li {
  list-style: none;
  display: inline-block;
  color: ivory;
  padding: 3px 7px;
  margin: 5px;
  font-size: 0.7em;
  letter-spacing: 0.05em;
  background-color: #777;
}
