.questions {
  width: 80%;
  margin: auto;
  background-color: ivory;
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(217, 217, 215, 0.75);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(217, 217, 215, 0.75);
  -moz-box-shadow: 2px 2px 2px 1px rgba(217, 217, 215, 0.75);
}
.questions__title {
  color: tomato;
  text-transform: none;
}

.questions__title::before {
  content: 'Q: ';
}

.questions__tags ul {
  padding-left: none;
}
.questions__tags > li {
  list-style: none;
  display: inline-block;
  background-color: rgb(172, 168, 168);
  color: ivory;
  font-size: 0.6em;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
}

.questions__answer {
}
