<header class="app-title__header">
  <h1 class="app-title__title">Bookmark</h1>
</header>
<main class="app-grid__main">
  <section class="questions__card">
    <button class="questions__bookmark"></button>
    <h2 class="questions__question">What is the population of New Orleans?</h2>
    <details>
      <summary></summary>
      According to 2010 Census Bureau estimates, New Orleans' population is made
      up of approximately 343,829 residents.
    </details>
    <ul class="questions__tags">
      <li class="questions__tags__item">Geography</li>
      <li class="questions__tags__item">Cities</li>
      <li class="questions__tags__item">USA</li>
      <li class="questions__tags__item">General</li>
    </ul>
  </section>
  <section class="questions__card">
    <button class="questions__bookmark"></button>
    <h2 class="questions__question">What is the population of New Orleans?</h2>
    <details>
      <summary></summary>
      According to 2010 Census Bureau estimates, New Orleans' population is made
      up of approximately 343,829 residents.
    </details>
    <ul class="questions__tags">
      <li class="questions__tags__item">Geography</li>
      <li class="questions__tags__item">Cities</li>
      <li class="questions__tags__item">USA</li>
      <li class="questions__tags__item">General</li>
    </ul>
  </section>
</main>
