.navigation {
  display: flex;
  justify-content: space-evenly;
  gap: 23px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 375px;
  padding: 20px 0 15px;
  font-size: 30px;
  background-color: var(--color-fireopal);
  color: var(--color-eggshell);
}
