.questions__card {
  position: relative;
  width: 100%;
  margin: 30px auto;
  padding-bottom: 10px;
  background-color: var(--color-independence);
  box-shadow: 10px 10px 3px -6px rgba(217, 217, 215, 0.4);
  -webkit-box-shadow: 10px 10px 3px -6px rgba(217, 217, 215, 0.4);
  -moz-box-shadow: 10px 10px 3px -6px rgba(217, 217, 215, 0.4);
}

/* BOOKMARKS */
.questions__bookmark {
  height: 30px;
  overflow: hidden;
  position: absolute;
  width: 0;
  top: -6px;
  right: 17px;
  border: 12px solid var(--color-fireopal);
  border-radius: 3px;
  border-bottom-color: transparent;
  padding: 0;
  background-color: transparent;
}

.bookmarkIcon-active {
  height: 30px;
  overflow: hidden;
  position: absolute;
  width: 0;
  top: -6px;
  right: 17px;
  border: 12px solid var(--color-fireopal-light);
  border-radius: 3px;
  border-bottom-color: transparent;
  padding: 0;
  background-color: transparent;
}

/* QUESTIONS */
.questions__question {
  font-size: 16px;
  padding: 13% 10% 7% 10%;
  letter-spacing: 0.05em;
  color: var(--color-independence);
  background-color: var(--color-eggshell);
}

/* ANSWER Button */
.bt_center {
  display: grid;
  justify-content: center;
}

.questions__answerbutton {
  width: 200px;
  font-size: 14px;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-eggshell);
}

/* ANSWER Text */
.txt_answer {
  padding: 20px;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: var(--color-eggshell);
}

/* QUESTIONS – Tags */
.questions__tags {
  margin: 0;
  padding: 3% 2% 0% 10%;
  color: var(--color-honeydew);
}

.questions__tags__item {
  list-style: none;
  display: inline-block;
  padding: 3px 2px;
  font-size: 0.7em;
  letter-spacing: 0.05em;
}

.questions__tags__item::before {
  content: '#';
  padding-right: 1px;
}
