.questions__card {
  position: relative;
  width: 100%;
  margin: 30px auto;
  padding-bottom: 10px;
  background-color: var(--color-independence);
  box-shadow: 10px 10px 3px -6px rgba(217, 217, 215, 0.4);
  -webkit-box-shadow: 10px 10px 3px -6px rgba(217, 217, 215, 0.4);
  -moz-box-shadow: 10px 10px 3px -6px rgba(217, 217, 215, 0.4);
}

.questions__bookmark {
  height: 30px;
  overflow: hidden;
  position: absolute;
  width: 0;
  top: -6px;
  right: 17px;
  border: 12px solid var(--color-fireopal);
  border-radius: 3px;
  border-bottom-color: transparent;
  padding: 0;
  background-color: transparent;
}

.bookmarkIcon-active {
  height: 30px;
  overflow: hidden;
  position: absolute;
  width: 0;
  top: -6px;
  right: 17px;
  border: 12px solid var(--color-fireopal-light);
  border-radius: 3px;
  border-bottom-color: transparent;
  padding: 0;
  background-color: transparent;
}

.questions__question::before {
  content: 'Q: ';
  padding-right: 10px;
  color: var(--color-independence);
}

.questions__question {
  font-size: 16px;
  padding: 13% 10% 7% 10%;
  letter-spacing: 0.05em;
  color: var(--color-independence);
  background-color: var(--color-eggshell);
}

.questions__answer {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: var(--color-honeydew);
  padding-left: 10px;
  background-color: var(--color-independence);
}
.questions__answerbutton {
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  font-family: 'Varela Round', sans-serif;
  content: 'Show answer';
  font-size: 16px;
  color: var(--color-honeydew);
}

details {
  padding: 3% 15% 3% 10%;
  font-size: 16px;
  color: var(--color-honeydew);
}

.questions__tags {
  margin: 0;
  padding: 3% 2% 0% 10%;
  color: var(--color-honeydew);
}

.questions__tags__item {
  list-style: none;
  display: inline-block;
  padding: 3px 2px;
  font-size: 0.7em;
  letter-spacing: 0.05em;
}

.questions__tags__item::before {
  content: '#';
  padding-right: 1px;
}
