/* Farben in CSS als Variablen anlegen */
:root {
  --color-orange-light: rgb(247, 142, 123);
  --color-orange: rgb(245, 112, 89);
  --color-light: ivory;
}
/* so wird es dann angewendet 
.test {
  color: var(--color-orange);
}
*/

/* Alternatives Beispiel für die Benennung: primary, secondary, highlight */
/* PROFI-TIPP END --------------------------------- */
