/* Farben in CSS als Variablen anlegen */
:root {
  --color-orange: rgb(240, 119, 98);
  --color-orange_dark: rgb(223, 74, 28);
  --color-light: ivory;
}
/* so wird es dann angewendet 
.test {
  color: var(--color-orange);
}
*/

/* Alternatives Beispiel für die Benennung: primary, secondary, highlight */
/* PROFI-TIPP END --------------------------------- */
